@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comic+Neue:wght@300&family=Gloria+Hallelujah&family=Lora&family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@200&family=Pacifico&family=Zen+Kurenaido&display=swap');
body{
    height: 100vh !important;
}
.font-sty{
    font-family: 'Comic Neue', cursive !important;
   
}

 .num-size{
    font-size: 50px !important;
}
.bg-img{
    background-image: url("images/banner.png");
}
.bor-dash{
    
    border-right-style: dashed ; 
 }
 .color{
     color: #205E89 !important;
 }